Source: pure-maps
Section: misc
Priority: optional
Maintainer: Sebastian Spaeth <Sebastian@SSpaeth.de>
Build-Depends: debhelper-compat (= 13),
 cmake,
 python3,
 libs2-dev (>= 0.11.1),
 qtbase5-dev | qtbase5-gles-dev,
 qt5-qmake,
 qttools5-dev-tools,
 qtpositioning5-dev,
 qtquickcontrols2-5-dev,
 qttools5-dev
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/rinigus/pure-maps

Package: pure-maps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 mapbox-gl-qml (>= 2.0),
 qml-module-org-kde-kirigami2,
 qml-module-io-thp-pyotherside,
 qml-module-qtmultimedia,
 libqt5multimedia5-plugins,
 qml-module-qtpositioning,
 qml-module-qtsensors,
 qml-module-qt-labs-settings,
 qml-module-qtquick-dialogs,
 qml-module-qtquick-controls,
 libnemodbus1,
 python3-gpxpy
Recommends: espeak-ng-espeak | espeak | flite
Description: Display maps, places, routes, and provide navigation instructions
 Pure Maps is an application for Sailfish OS and Linux to display vector and
 raster maps, places, routes, and provide navigation instructions with a
 flexible selection of data and service providers.
